<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">

    <title>Wie betaalt wat?</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        .people-list-item {
          transition: all .2s;
        }
        .people-list-enter, .people-list-leave-to {
          opacity: 0;
          transform: translateY(30px);
        }
        .people-list-leave-active {
          position: absolute;
        }
    </style>
</head>
<body>
    <div id="app-4" class="container">
        <button type="button" class="btn btn-primary btn-block" v-on:click="addPerson">Add person</button>
        <transition-group name="people-list">
            <div v-for="(person, index) in people" v-bind:key="person" class="people-list-item">
                <div class="input-group">
                    <input v-model="person.name" type="text" class="form-control" placeholder="Name" onclick="this.select()">
                    <input v-model.number="person.amount" type="number" min="0" step="any" class="form-control" placeholder="Amount" onclick="this.select()">
                    <div class="input-group-append">
                        <button v-on:click="people.splice(index, 1)" class="btn btn-outline-secondary">X</button>
                    </div>
                </div>
            </div>
        </transition-group>
        <ul class="list-group">
            <li class="list-group-item active">Transactions</li>
            <li v-if="!transactions.length" class="list-group-item">None</li>
            <li v-for="transaction in transactions" class="list-group-item">
                {{transaction.from}} pays {{transaction.amount.toFixed(2)}} to {{transaction.to}}
            </li>
        </ul>
    </div>

    <script>
        var app4 = new Vue({
            el: '#app-4',
            data: {
                people: [
                    { name: 'Name', amount: 0},
                ]
            },
            methods: {
                addPerson: function(){
                    this.people.push({name:'Name', amount: 0})
                }
            },
            computed: {
                transactions: function(){
                    var totalAmount = this.people.reduce(function(sum, p) { return p.amount + sum  }, 0)
                    var avgAmount = totalAmount / this.people.length;

                    this.people.forEach(function(person){
                        person.toPay = avgAmount - person.amount;
                    });

                    var payers = this.people.filter(function(person){return person.toPay > 0;});
                    var receivers = this.people.filter(function(person){return person.toPay < 0;});
                    
                    receivers.sort(function(p1,p2){
                        return p1.toPay - p2.toPay;
                    });
                    payers.sort(function(p1,p2){
                        return p2.toPay - p1.toPay;
                    });
                    
                    var transactions = [];
                    var receiverId = 0;
                    payers.forEach(function(payer){
                        while(payer.toPay > 0 && receiverId < receivers.length){
                            var receiver = receivers[receiverId];
                            var amount = Math.min(payer.toPay, -receiver.toPay);
                            payer.toPay -= amount;
                            receiver.toPay += amount;
                            if(receiver.toPay >= 0){
                                receiverId++;
                            }
                            var transaction = {from:payer.name, to:receiver.name, amount}
                            transactions.push(transaction);
                        }
                    })

                    return transactions;
                }
            }
        })
    </script>
</body>
</html>