<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">

    <title>Vue test</title>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="app-4">
        <button v-on:click="addPerson">add person</button>
        <ol>
            <li v-for="(person, index) in people">
                <input v-model="person.name">
                <input v-model.number="person.amount" type="number" min="0" step="any">
                <button v-on:click="people.splice(index, 1)">X</button>
            </li>
        </ol>
        <p v-for="transaction in transactions">
            {{transaction.from}} pays {{transaction.amount.toFixed(2)}} to {{transaction.to}}
        </p>
    </div>

    <script>
        var app4 = new Vue({
            el: '#app-4',
            data: {
                people: [
                    { name: 'Name', amount: 0},
                ]
            },
            methods: {
                addPerson: function(){
                    this.people.push({name:'Name', amount: 0})
                }
            },
            computed: {
                transactions: function(){
                    var totalAmount = this.people.reduce(function(sum, p) { return p.amount + sum  }, 0)
                    var avgAmount = totalAmount / this.people.length;

                    this.people.forEach(function(person){
                        person.toPay = avgAmount - person.amount;
                    });

                    var payers = this.people.filter(function(person){return person.toPay > 0;});
                    var receivers = this.people.filter(function(person){return person.toPay < 0;});
                    
                    receivers.sort(function(p1,p2){
                        return p1.toPay - p2.toPay;
                    });
                    payers.sort(function(p1,p2){
                        return p2.toPay - p1.toPay;
                    });
                    
                    var transactions = [];
                    var receiverId = 0;
                    payers.forEach(function(payer){
                        while(payer.toPay > 0 && receiverId < receivers.length){
                            var receiver = receivers[receiverId];
                            var amount = Math.min(payer.toPay, -receiver.toPay);
                            payer.toPay -= amount;
                            receiver.toPay += amount;
                            if(receiver.toPay >= 0){
                                receiverId++;
                            }
                            var transaction = {from:payer.name, to:receiver.name, amount}
                            transactions.push(transaction);
                        }
                    })

                    return transactions;
                }
            }
        })
    </script>
</body>
</html>